* {
  margin: 1em;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.box-block {
  color: black;
  font-size: 2rem;
  background-color: crimson;
  display: block;
}
.box-inline {
  color: midnightblue;
  font-size: 2rem;
  background-color: mistyrose;
  display: inline;
}
.box-flex {
  color: palegreen;
  background-color: crimson;
  font-size: 2rem;
  display: inline-flexbox;
}
p {
  margin: 0.5em;
  font-size: 1.2em;
  background-color: lightcoral;
  border: 2px solid black;
  border-radius: 10px;
}
